.techWrapper {
    margin-bottom: var(--default-gap);
}
.tech {
    margin: 0;
}

.main {
    display: grid;
}
.dialog > .main > span {
    justify-self: end;
    align-self: end;

    width: min-content;
    font-size: var(--font-size-largest);
}
.pictures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--default-gap) / 4);
}
.pictures > p {
    width: auto;
    margin: 0;
    border: var(--border);
}
.pictures > p > a {
    display: block;
    padding: calc(var(--default-gap) / 4) var(--default-gap);
}