
.footer {
    display: grid;
    grid-template-columns: min-content;
    align-items: center;
    justify-content: center;

    padding: calc(2 * var(--default-gap)) 0;

    background-color: var(--dark);
}
.footer > a {
    font-size: var(--font-size-small);
    color: white;
}
.footer > a:hover {
    color: var(--link-contrast-text);
    background-color: var(--link-contrast-bg);
}
