.main {
    min-height: calc(100vh - 374px);
    width: 700px;
    max-width: 95vw;
    margin: var(--default-gap) auto;

    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
}